fastapi
uvicorn[standard]
pydantic
sqlalchemy
python-dotenv
psycopg2-binary
pyjwt
passlib[bcrypt]
python-keycloak==4.7.3
apscheduler
sse-starlette==2.1.3
jwcrypto==1.5.6
python-multipart
pydantic_settings